<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
customers = pd.read_csv('Customer Details.csv')
renewals = pd.read_csv('Renewal Details.csv')

In [6]:
customers.head()

,Customer_ID,Renewal_or_Non-renewal_Date,Zip_Code_Distance_From_Stadium,Tenure_As_Season_Ticket_Member
0,262688,9/4/2013,37.556232,1
1,262688,8/4/2014,37.556232,2
2,262719,7/16/2013,15.340993,1
3,262719,8/4/2014,15.340993,2
4,262782,7/16/2013,21.569895,8

In [8]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3781 entries, 0 to 3780
Data columns (total 4 columns):
Customer_ID                       3781 non-null int64
Renewal_or_Non-renewal_Date       3781 non-null object
Zip_Code_Distance_From_Stadium    3701 non-null float64
Tenure_As_Season_Ticket_Member    3781 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 118.2+ KB

In [10]:
customers.isna().sum()

Customer_ID                        0
Renewal_or_Non-renewal_Date        0
Zip_Code_Distance_From_Stadium    80
Tenure_As_Season_Ticket_Member     0
dtype: int64

In [7]:
renewals.head()

,Customer_ID,Previous_Season,Renewal_Season,Renewal,Renewal_or_Non-renewal_Date,Average_Price_Paid_Per_Seat_Previous_Season,Total_Seats_Previous_Season,Team_Win_Pct_Previous_Season,Games_Attended_Previous_Season,Games_Missed_Previous_Season,Total_Games_Previous_Season,Non-Game_Events_Attended_Previous_Season,Phone_Calls_Made_to_Customer_Last_90_Days_Before_Renewal_Date,Live_Phone_Conversations_With_Customer_Last_90_Days_Before_Renewal_Date,Emails_Sent_Last_90_Days_Before_Renewal_Date,Section_Previous_Season
0,262688,2012 Basketball Season Tickets,2013 Basketball Season Tickets,1,4-Sep-13,277.44,2,0.54,17,0,17,0,0,0,0,Reserved_Seats
1,262719,2012 Basketball Season Tickets,2013 Basketball Season Tickets,1,16-Jul-13,308.16,2,0.54,14,3,17,4,14,7,1,Reserved_Seats
2,262782,2012 Basketball Season Tickets,2013 Basketball Season Tickets,1,16-Jul-13,449.28,1,0.54,10,7,17,0,19,2,12,Reserved_Seats
3,263277,2012 Basketball Season Tickets,2013 Basketball Season Tickets,1,16-Jul-13,290.88,2,0.54,17,0,17,1,16,4,8,Reserved_Seats
4,263410,2012 Basketball Season Tickets,2013 Basketball Season Tickets,1,16-Jul-13,449.28,4,0.54,15,2,17,4,18,5,6,Reserved_Seats

In [9]:
renewals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3781 entries, 0 to 3780
Data columns (total 16 columns):
Customer_ID                                                                3781 non-null int64
Previous_Season                                                            3781 non-null object
Renewal_Season                                                             3781 non-null object
Renewal                                                                    3781 non-null int64
Renewal_or_Non-renewal_Date                                                3781 non-null object
Average_Price_Paid_Per_Seat_Previous_Season                                3781 non-null float64
Total_Seats_Previous_Season                                                3781 non-null int64
Team_Win_Pct_Previous_Season                                               3781 non-null float64
Games_Attended_Previous_Season                                             3781 non-null int64
Games_Missed_Previous_Season                                               3781 non-null int64
Total_Games_Previous_Season                                                3781 non-null int64
Non-Game_Events_Attended_Previous_Season                                   3781 non-null int64
Phone_Calls_Made_to_Customer_Last_90_Days_Before_Renewal_Date              3781 non-null int64
Live_Phone_Conversations_With_Customer_Last_90_Days_Before_Renewal_Date    3781 non-null int64
Emails_Sent_Last_90_Days_Before_Renewal_Date                               3781 non-null int64
Section_Previous_Season                                                    3781 non-null object
dtypes: float64(2), int64(10), object(4)
memory usage: 472.7+ KB

In [11]:
renewals.isna().sum()

Customer_ID                                                                0
Previous_Season                                                            0
Renewal_Season                                                             0
Renewal                                                                    0
Renewal_or_Non-renewal_Date                                                0
Average_Price_Paid_Per_Seat_Previous_Season                                0
Total_Seats_Previous_Season                                                0
Team_Win_Pct_Previous_Season                                               0
Games_Attended_Previous_Season                                             0
Games_Missed_Previous_Season                                               0
Total_Games_Previous_Season                                                0
Non-Game_Events_Attended_Previous_Season                                   0
Phone_Calls_Made_to_Customer_Last_90_Days_Before_Renewal_Date              0
Live_Phone_Conversations_With_Customer_Last_90_Days_Before_Renewal_Date    0
Emails_Sent_Last_90_Days_Before_Renewal_Date                               0
Section_Previous_Season                                                    0
dtype: int64

In [49]:
for col in renewals.columns:
    if renewals[col].dtype == 'object':
        print(col, '--->', renewals[col].dtype)

Previous_Season ---> object
Renewal_Season ---> object
Renewal_or_Non-renewal_Date ---> object
Section_Previous_Season ---> object

In [52]:
print(list(renewals.Previous_Season.unique()))
print(list(renewals.Renewal_Season.unique()))
print(list(renewals.Section_Previous_Season.unique()))

['2012 Basketball Season Tickets', '2013 Basketball Season Tickets']
['2013 Basketball Season Tickets', '2014 Basketball Season Tickets']
['Reserved_Seats', 'Platinum_Club', 'General_Admission', 'Club_Level']